{
  "sourceMaps": true,
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "es2020",
    "paths": {
      "@/*": ["*"],
      "@shared/*": ["shared/*"],
      "@modules/*": ["modules/*"]
    },
    "baseUrl": "./src",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true
  }
}
